*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:25px;
    color:white;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(180, 194, 24), rgb(215, 79, 21));
    background-repeat: no-repeat;
}
.wrapper{
    display:flex;
    flex-direction: column;
}
.checklist_title{
    font-size: 35px;
    margin-bottom: 10px;
}
.checklist_form{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.checklist_input{
    background-color: transparent;
    padding:10px;
    border:2px dashed rgb(226, 216, 216);
    border-radius: 20px 0 0 20px;
    outline: none;
    margin-right:10px;
}
::placeholder{
    color:rgb(200, 200, 200);
}
.btn{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 10px;
    min-width: 30px;
}
.btn_add{
    border:2px dashed rgb(226, 216, 216);
    border-radius: 0 20px 20px 0;
    padding:10px;
}
.btn_add:hover{
    color:rgb(200, 200, 200);
}
.checklist_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    min-height: 50px;
    border: 2px dashed rgb(226, 216, 216);
    border-radius: 10px;
    padding: 0 10px 0 10px;
}
.checklist_item > p{
    width:80%;
}
.checklist_item > .btn{
    width: 40px;
    height: 40px;
}
.btn_done{
    background-color: green;
}
.btn_done:hover{
    background-color: rgb(0, 97, 0);
}
.btn_delete{
    background-color: rgb(186, 7, 7);
}
.btn_delete:hover{
    background-color: rgb(130, 3, 3);
}

.text_done{
    text-decoration: line-through;
    color: rgb(0, 104, 0);
}